<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Stulendar</title>
    <link rel="stylesheet" href="styles/index.css" />
    <!-- Fullcalendar tags -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js" defer></script>
  </head>
  <body>
    <main>
      <!-- Navbar section -->
      <aside>
        <nav>
          <h1>Stulendar</h1>
          <button class="nav-btn" id="dailyBtn">
            برنامه روزانه
            <img src="Icons/daily-btn.svg" alt="daily-icon" width="40px" />
          </button>
          <button class="nav-btn" id="weeklyBtn">
            برنامه هفتگی
            <img src="Icons/weekly-btn.svg" alt="daily-icon" width="40px" />
          </button>
          <button class="nav-btn" id="monthlyBtn">
            برنامه ماهانه
            <img
              src="Icons/monthly-btn.svg"
              alt="daily-icon"
              width="40px"
            />
          </button>
        </nav>
        <button class="nav-btn">
          حساب کاربری
          <img src="Icons/profile.svg" alt="daily-icon" width="40px" />
        </button>
      </aside>
      <section class="calendar-section" id="calendarSection">
        <div class="container">
          <div id="calendar"></div>
        </div>
      </section>
    </main>
    <!-- Scripts -->
    <script src="scripts/index.js"></script>
  </body>
</html>